apache-airflow-providers-apache-spark==4.5.0
apache-airflow-providers-trino==5.5.0
apache-airflow-providers-cncf-kubernetes==7.11.0
apache-airflow-providers-slack==8.5.0
apache-airflow-providers-postgres==5.9.0
apache-airflow-providers-http==4.8.0
apache-airflow-providers-common-sql==1.9.0
pandas==2.1.4
pyarrow==11.0.0
numpy==1.24.4
trino==0.327.0
psycopg2-binary==2.9.9
kubernetes-asyncio==24.2.3
kubernetes==23.6.0
slack-sdk==3.26.1
apache-airflow-providers-smtp==1.5.0
apache-airflow-providers-telegram==4.3.0
requests==2.31.0
python-dotenv==1.0.0
